body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
  
    font-weight: 400;
    font-style: normal;
  }
  
  .container {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    

    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 32px 0 rgba(0,0,0,0.1);
    width: 350px;
    border: 1px solid royalblue;
    text-align: center;
    backdrop-filter: blure(10px);

  }
  
  h1 {
    text-align: center;
    color: #ebdbdb;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    margin-bottom: 20px;
  }
  
  #taskInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #0d3d18;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background: #eeaeca;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li.completed {
    text-decoration: line-through;
    color: #1c1b1b;
  }
  
  .delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .delete-btn:hover {
    background: #7d3b42;
  }
  